In [6]:
import os
import pandas as pd
import numpy as np

In [7]:
student = os.path.join("Raw Data", "students_complete.csv")
school = os.path.join("Raw Data", "schools_complete.csv")
student_df=pd.read_csv(student)
school_df=pd.read_csv(school)
#student_df.head()
    #school_df.head()
#student_df.count() ##39170 rows
    #school_df.count() ##15 rows
#student_df.columns ##'Student ID', 'name', 'gender', 'grade', 'school', 'reading_score', 'math_score'
    #school_df.columns ##'School ID', 'name', 'type', 'size', 'budget'
    #school_df['name'].value_counts()

In [8]:
#Renaming the common index on both csv to 'School_Name' to enable join'
student_df1 = student_df.rename(columns={'school':'School_Name'})
school_df1 = school_df.rename(columns={'name':'School_Name'})

In [9]:
#Join tables, so that the school info is associated for all students
table_df = pd.merge(student_df1, school_df1, on="School_Name", how="left")
#merge_table.head()
#merge_table.columns

In [10]:
#####################################################District Summary########################################################

    #Create a high level snapshot (in table form) of the district's key metrics, including:
print("District Data Summary")
print("-------------------------------------------------------------------------------------------")    
    # Total Schools
print("Total Number of Schools: " + str(len(table_df['School_Name'].unique())))
#t_school=table_df['School_Name'].unique() ##Method 2 by creating a new variable
#len(t_school)
    
      # Total Students
print("Total Number of Students: " + str(len(table_df['Student ID'].unique())))
#>>>39170 which corresponds to the total number of rows, meaning also that there is not either a single student or two students with the same ID enrolled in two schools :D
      
    # Total Budget
print("Total Budget: $" + str(table_df['budget'].unique().sum()))
        ##Method 2 by creating a new variable;   #budget = table_df['budget'].unique() 
                                                #budget.sum()
      # Average Math Score
print("Average Math Score: " + str(table_df['math_score'].mean()))
      #>>> 78.98537145774827

      # Average Reading Score
print("Average Reading Score: " + str(table_df['reading_score'].mean()))
      #>>> 81.87784018381414
      
      # % Passing Math
print("% Passing Math: " + str(len(table_df.loc[table_df["math_score"] >= 70,:]) /  len(table_df['Student ID'].unique())))
math=len(table_df.loc[table_df["math_score"] >= 70,:]) / len(table_df['Student ID'].unique())
    #>>>0.749808526933878
    
    # % Passing Reading
print("% Passing Math: " + str(len(table_df.loc[table_df["reading_score"] >= 70,:]) /  len(table_df['Student ID'].unique())))
reading=len(table_df.loc[table_df["reading_score"] >= 70,:]) /  len(table_df['Student ID'].unique())
    #>>>0.8580546336482001
    
      # Overall Passing Rate (Average of the above two)
print("% Average Passing Rate: " + str((math+reading)/2))

District Data Summary
-------------------------------------------------------------------------------------------
Total Number of Schools: 15
Total Number of Students: 39170
Total Budget: $24649428
Average Math Score: 78.98537145774827
Average Reading Score: 81.87784018381414
% Passing Math: 0.749808526933878
% Passing Math: 0.8580546336482001
% Average Passing Rate: 0.8039315802910391

In [11]:
###############################################################################################################################

In [12]:
########################################################School Summary########################################################

#Instructions + starting notes

    #Create an overview table that summarizes key metrics about each school, including:
  # School Name
#print("Schools: " + str(table_df['School_Name'].unique()))
  # School Type
#print("School Type" + str(table_df)
  # Total Students
  # Total School Budget
  # Per Student Budget
  # Average Math Score
  # Average Reading Score
  # % Passing Math
  # % Passing Reading
  # Overall Passing Rate (Average of the above two)

In [72]:
#Filter main table attributes
table_dfl=table_df.loc[:,["School_Name","type", "size", "budget", "math_score", "reading_score"]]

In [86]:
table_dfl #retains 39170 rows
#table_df2=table_dfl.groupby("School_Name")
#table_df2.head() #75 rows, why???? Doesn't even group properly
r70=table_dfl.loc[table_dfl["reading_score"] >= 70,:] #Filters properly
m70=table_dfl.loc[table_dfl["math_score"] >= 70,:]
#count of students who passed per school / size
r70=r70.groupby("School_Name").count() #counts all who passed per school. Cool, now isolate one row.
m70=m70.groupby("School_Name").count()
r70=r70["reading_score"] #choosing just one row. All values are the same per rows, since each row represent a student who passed.
m70=m70["math_score"]

table_df1=table_dfl.groupby("School_Name").mean() #Averages of the tests scores by schools
table_df1_type=table_dfl.groupby("School_Name")
table_df1_type=table_df1_type['type']

In [88]:
#school_sum_df = table_df.loc[:,["School_Name","type", "size", "budget", "math_score", "reading_score"]]
#x=school_sum_df.groupby("School_Name")

#Creating my variables for the summary table dataframe
size=table_df1["size"].unique() #Is fine, unique attribute
pm=m70/size #Passing rate, math
rm=r70/size #Passing rate, reading
stype=table_df1_type.unique() #Is fine, unique attribute
budget=table_df1["budget"].unique() #Is fine, unique attribute
math_score=table_df1["math_score"].mean() #"table_df1.head()" outputs 75 rows; however the avg numbers checks out
reading_score=table_df1["reading_score"].mean() #"table_df1.head()" outputs 75 rows; however the avg numbers checks out
##method 2 to gather averages:
#av_r=scores["reading_score"] #avg math score per school
#av_m=scores["math_score"] #avg reading score per school
psb = table_df1["budget"].unique() / table_df1["size"].unique() #Error prob contigent on prior variables
#o_avg = (table_df1["math_score"].mean() + table_df1["reading_score"].mean())/2 #That's actually the avg overall score
opr = (pm + rm) /2 #got it :) !

In [89]:
stype

School_Name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [90]:
school_summary_table = pd.DataFrame({"Type":stype,
                                    "Total Students":size,
                                     "Total School Budget":budget,
                                     "Per Student Budget":psb,
                                     "Average Math Score":math_score,
                                     "Average Reading Score":reading_score,
                                     "% Passing Math":pm,
                                     "% Passing Reading":rm,
                                   "Overall Passing Rate":opr})
school_summary_table.head(15)

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate,Per Student Budget,Total School Budget,Total Students,Type
School_Name,,,,,,,,,
Bailey High School,0.666801,0.819333,80.43253,82.529188,0.743067,628.0,3124928.0,4976.0,[District]
Cabrera High School,0.941335,0.970398,80.43253,82.529188,0.955867,582.0,1081356.0,1858.0,[Charter]
Figueroa High School,0.659885,0.807392,80.43253,82.529188,0.733639,639.0,1884411.0,2949.0,[District]
Ford High School,0.683096,0.792990,80.43253,82.529188,0.738043,644.0,1763916.0,2739.0,[District]
Griffin High School,0.933924,0.971390,80.43253,82.529188,0.952657,625.0,917500.0,1468.0,[Charter]
Hernandez High School,0.667530,0.808630,80.43253,82.529188,0.738080,652.0,3022020.0,4635.0,[District]
Holden High School,0.925059,0.962529,80.43253,82.529188,0.943794,581.0,248087.0,427.0,[Charter]
Huang High School,0.656839,0.813164,80.43253,82.529188,0.735002,655.0,1910635.0,2917.0,[District]
Johnson High School,0.660576,0.812224,80.43253,82.529188,0.736400,650.0,3094650.0,4761.0,[District]
Pena High School,0.945946,0.959459,80.43253,82.529188,0.952703,609.0,585858.0,962.0,[Charter]
Rodriguez High School,0.663666,0.802201,80.43253,82.529188,0.732933,637.0,2547363.0,3999.0,[District]
Shelton High School,0.938671,0.958546,80.43253,82.529188,0.948609,600.0,1056600.0,1761.0,[Charter]
Thomas High School,0.932722,0.973089,80.43253,82.529188,0.952905,638.0,1043130.0,1635.0,[Charter]
Wilson High School,0.938677,0.965396,80.43253,82.529188,0.952037,578.0,1319574.0,2283.0,[Charter]
Wright High School,0.933333,0.966111,80.43253,82.529188,0.949722,583.0,1049400.0,1800.0,[Charter]

In [17]:
#mapping columns (work in progress)

#school_summary_table["Total School Budget"]=school_summary_table["Total School Budget"].map("${:.2f}".format)
#school_summary_table["Total Students"]=school_summary_table["Total Students"].map("{:,}".format)
#school_summary_table.dtypes

In [18]:
###############################################################################################################################

In [19]:
#######################################Top Performing Schools (By Passing Rate)################################################

In [91]:
top_schools=school_summary_table.sort_values("Overall Passing Rate", ascending=False)
top_schools.head(5)

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate,Per Student Budget,Total School Budget,Total Students,Type
School_Name,,,,,,,,,
Cabrera High School,0.941335,0.970398,80.43253,82.529188,0.955867,582.0,1081356.0,1858.0,[Charter]
Thomas High School,0.932722,0.973089,80.43253,82.529188,0.952905,638.0,1043130.0,1635.0,[Charter]
Pena High School,0.945946,0.959459,80.43253,82.529188,0.952703,609.0,585858.0,962.0,[Charter]
Griffin High School,0.933924,0.971390,80.43253,82.529188,0.952657,625.0,917500.0,1468.0,[Charter]
Wilson High School,0.938677,0.965396,80.43253,82.529188,0.952037,578.0,1319574.0,2283.0,[Charter]

In [21]:
###############################################################################################################################

In [22]:
#################################################Average Scores by Grades#######################################################

In [92]:
table_m_gr=table_df.loc[:,["School_Name", "math_score","reading_score","grade"]]
table_m_gr1=table_m_gr.groupby(['School_Name','grade'])
m_gr=table_m_gr1["math_score"].mean()
r_gr=table_m_gr1["reading_score"].mean()
school_score_grades = pd.DataFrame({"Average Math Score":m_gr,
                                    "Average Reading Score":r_gr,
                                     })
school_score_grades

                             Average Math Score  Average Reading Score
School_Name           grade
Bailey High School    10th            76.996772              80.907183
                      11th            77.515588              80.945643
                      12th            76.492218              80.912451
                      9th             77.083676              81.303155
Cabrera High School   10th            83.154506              84.253219
                      11th            82.765560              83.788382
                      12th            83.277487              84.287958
                      9th             83.094697              83.676136
Figueroa High School  10th            76.539974              81.408912
                      11th            76.884344              80.640339
                      12th            77.151369              81.384863
                      9th             76.403037              81.198598
Ford High School      10th            77.672316              81.262712
                      11th            76.918058              80.403642
                      12th            76.179963              80.662338
                      9th             77.361345              80.632653
Griffin High School   10th            84.229064              83.706897
                      11th            83.842105              84.288089
                      12th            83.356164              84.013699
                      9th             82.044010              83.369193
Hernandez High School 10th            77.337408              80.660147
                      11th            77.136029              81.396140
                      12th            77.186567              80.857143
                      9th             77.438495              80.866860
Holden High School    10th            83.429825              83.324561
                      11th            85.000000              83.815534
                      12th            82.855422              84.698795
                      9th             83.787402              83.677165
Huang High School     10th            75.908735              81.512386
                      11th            76.446602              81.417476
                      12th            77.225641              80.305983
                      9th             77.027251              81.290284
Johnson High School   10th            76.691117              80.773431
                      11th            77.491653              80.616027
                      12th            76.863248              81.227564
                      9th             77.187857              81.260714
Pena High School      10th            83.372000              83.612000
                      11th            84.328125              84.335938
                      12th            84.121547              84.591160
                      9th             83.625455              83.807273
Rodriguez High School 10th            76.612500              80.629808
                      11th            76.395626              80.864811
                      12th            77.690748              80.376426
                      9th             76.859966              80.993127
Shelton High School   10th            82.917411              83.441964
                      11th            83.383495              84.373786
                      12th            83.778976              82.781671
                      9th             83.420755              84.122642
Thomas High School    10th            83.087886              84.254157
                      11th            83.498795              83.585542
                      12th            83.497041              83.831361
                      9th             83.590022              83.728850
Wilson High School    10th            83.724422              84.021452
                      11th            83.195326              83.764608
                      12th            83.035794              84.317673
                      9th             83.085578              83.939778
Wright High School    10th            84.010288              83.812757
                      11th            83.836782              84.156322
                      12th            83.644986              84.073171
                      9th             83.264706              83.833333

In [93]:
###############################################################################################################################

In [94]:
###################################################Scores by School Spending##################################################

#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  #Average Math Score
  #Average Reading Score
  #% Passing Math
  #Passing Reading
  #Overall Passing Rate (Average of the above two)

#Observe budget data to create reasonable ranges for the bins
school_summary_table["Total School Budget"].mean() #1643295.2
school_summary_table["Total School Budget"].min() #248087
school_summary_table["Total School Budget"].max() #3124928

spending_bin = [200000,1000000,2000000,3500000]

In [95]:
table_budget_bins=pd.cut(school_summary_table["Total School Budget"], spending_bin)
table_budget_bins.head
budget_summary_table = pd.DataFrame({"Budget Range": table_budget_bins,
                                     "Average Math Score":math_score,
                                     "Average Reading Score":reading_score,
                                     "% Passing Math":pm,
                                     "% Passing Reading":rm,
                                   "Overall Passing Rate":opr
                                    })
budget_summary_table.head(15)

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Budget Range,Overall Passing Rate
School_Name,,,,,,
Bailey High School,0.666801,0.819333,80.43253,82.529188,"(2000000, 3500000]",0.743067
Cabrera High School,0.941335,0.970398,80.43253,82.529188,"(1000000, 2000000]",0.955867
Figueroa High School,0.659885,0.807392,80.43253,82.529188,"(1000000, 2000000]",0.733639
Ford High School,0.683096,0.792990,80.43253,82.529188,"(1000000, 2000000]",0.738043
Griffin High School,0.933924,0.971390,80.43253,82.529188,"(200000, 1000000]",0.952657
Hernandez High School,0.667530,0.808630,80.43253,82.529188,"(2000000, 3500000]",0.738080
Holden High School,0.925059,0.962529,80.43253,82.529188,"(200000, 1000000]",0.943794
Huang High School,0.656839,0.813164,80.43253,82.529188,"(1000000, 2000000]",0.735002
Johnson High School,0.660576,0.812224,80.43253,82.529188,"(2000000, 3500000]",0.736400
Pena High School,0.945946,0.959459,80.43253,82.529188,"(200000, 1000000]",0.952703
Rodriguez High School,0.663666,0.802201,80.43253,82.529188,"(2000000, 3500000]",0.732933
Shelton High School,0.938671,0.958546,80.43253,82.529188,"(1000000, 2000000]",0.948609
Thomas High School,0.932722,0.973089,80.43253,82.529188,"(1000000, 2000000]",0.952905
Wilson High School,0.938677,0.965396,80.43253,82.529188,"(1000000, 2000000]",0.952037
Wright High School,0.933333,0.966111,80.43253,82.529188,"(1000000, 2000000]",0.949722

In [27]:
###############################################################################################################################

In [28]:
###################################################Scores by School Size######################################################

In [96]:
school_summary_table["Total Students"].mean() #2611
school_summary_table["Total Students"].min() #427
school_summary_table["Total Students"].max() #4976

groups = ['Small (> 2,000)', 'Medium (2,000 - 3,000)', 'Large (3,000 - 5,000)']
bins = [400,2000,3000,5000]

In [97]:
table_size_bins=pd.cut(school_summary_table["Total Students"], bins,labels=groups)
table_size_bins.head
size_summary_table = pd.DataFrame({"Size Range": table_size_bins,
                                     "Average Math Score":math_score,
                                     "Average Reading Score":reading_score,
                                     "% Passing Math":pm,
                                     "% Passing Reading":rm,
                                   "Overall Passing Rate":opr
                                    })
size_summary_table.head(15)

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate,Size Range
School_Name,,,,,,
Bailey High School,0.666801,0.819333,80.43253,82.529188,0.743067,"Large (3,000 - 5,000)"
Cabrera High School,0.941335,0.970398,80.43253,82.529188,0.955867,"Small (> 2,000)"
Figueroa High School,0.659885,0.807392,80.43253,82.529188,0.733639,"Medium (2,000 - 3,000)"
Ford High School,0.683096,0.792990,80.43253,82.529188,0.738043,"Medium (2,000 - 3,000)"
Griffin High School,0.933924,0.971390,80.43253,82.529188,0.952657,"Small (> 2,000)"
Hernandez High School,0.667530,0.808630,80.43253,82.529188,0.738080,"Large (3,000 - 5,000)"
Holden High School,0.925059,0.962529,80.43253,82.529188,0.943794,"Small (> 2,000)"
Huang High School,0.656839,0.813164,80.43253,82.529188,0.735002,"Medium (2,000 - 3,000)"
Johnson High School,0.660576,0.812224,80.43253,82.529188,0.736400,"Large (3,000 - 5,000)"
Pena High School,0.945946,0.959459,80.43253,82.529188,0.952703,"Small (> 2,000)"
Rodriguez High School,0.663666,0.802201,80.43253,82.529188,0.732933,"Large (3,000 - 5,000)"
Shelton High School,0.938671,0.958546,80.43253,82.529188,0.948609,"Small (> 2,000)"
Thomas High School,0.932722,0.973089,80.43253,82.529188,0.952905,"Small (> 2,000)"
Wilson High School,0.938677,0.965396,80.43253,82.529188,0.952037,"Medium (2,000 - 3,000)"
Wright High School,0.933333,0.966111,80.43253,82.529188,0.949722,"Small (> 2,000)"

In [98]:
###############################################################################################################################

In [99]:
###################################################Scores by School Type######################################################

In [243]:
#Prior functions
table_dfl_type=table_df.loc[:,["type", "size", "budget", "math_score", "reading_score"]]
table_dfl_type
table_dfl_math=table_df.loc[:,["type","math_score"]]
table_dfl_read=table_df.loc[:,["type","reading_score"]]

t_scores=table_dfl_type.groupby("type").mean() #Avg for all my attributes selected above

t_math=t_scores["math_score"] #Mean for Math only *

t_read=t_scores["reading_score"] #Mean for Read only *

#Means of Scores
t_70_pass=table_df.loc[:,["type","math_score", "reading_score"]]
t_mean=t_70_pass.groupby("type").mean() #Averages of BOTH tests scores by types *


t_r70=table_dfl_read.loc[table_dfl_read["reading_score"] >= 70,:] #Filters properly
t_r70=t_r70.groupby("type").count() #Number of students who passed the reading test for BOTH school types *
t_m70=table_dfl_math.loc[table_dfl_math["math_score"] >= 70,:]
t_m70=t_m70.groupby("type").count()  #Number of students who passed the math test for BOTH school types *

#Percentage of students who passed the tests

total_count_read=table_df.loc[:,["type","reading_score"]]
total_students_read=total_count_read.groupby("type").count() #total students; the same number of students took the math and reading exams.
                                                        #I'm only doing this twice to be able to divide by appropriate columns
total_count_math=table_df.loc[:,["type","math_score"]]
total_students_math=total_count_math.groupby("type").count()

student_perc_pass_reading=t_r70/total_students_read
student_perc_pass_math=t_m70/total_students_math

#Average Passing Rate
avg_passing_rate=(student_perc_pass_reading+student_perc_pass_math)/2 ##Outputs NaN

#Counts for total students in Charter and District schools ###Redundant
charter_student_count=table_dfl_type[table_dfl_type["type"]=='Charter'].count()
charter_student_count=charter_student_count["type"] #12194
district_student_count=table_dfl_type[table_dfl_type["type"]=='District'].count()
district_student_count=district_student_count["type"] #26976

In [255]:
avg_passing_rate=(student_perc_pass_reading+student_perc_pass_math)/2

In [247]:
district_summary_tableX = pd.DataFrame({"Average Scores":t_mean,
                                    "% Passing Math":student_perc_pass_math,
                                    "% Passing Reading":student_perc_pass_reading})
#district_summary_tableX.head()

ValueError: If using all scalar values, you must pass an index

In [119]:
#Count for students who passed, Charter & District ###Way Redundant

#Charter, Passed Reading
ctype_count_r70=r70[r70["type"]=='Charter'].count()
ctype_count_r70=ctype_count_r70["type"] #>>> 11785

#Charter, Passed Math
ctype_count_m70=m70[m70["type"]=='Charter'].count()
ctype_count_m70=ctype_count_m70["type"] #>>> 11426

#District, Passed Reading
dtype_count_r70=r70[r70["type"]=='District'].count()
dtype_count_r70=dtype_count_r70["type"] #>>> 21825

#District, Passed Math
dtype_count_m70=m70[m70["type"]=='District'].count()
dtype_count_m70=dtype_count_m70["type"] #>>> 17944

#Total Count for students in Charter & District

#Total Students, Charter
ctype_totalcount_r70=table_dfl[table_dfl["type"]=='Charter'].count()
ctype_totalcount_r70=ctype_totalcount_r70["type"] #>>>12194

#ReadTotal Students, District
dtype_totalcount_r70=table_dfl[table_dfl["type"]=='District'].count()
dtype_totalcount_r70=dtype_totalcount_r70["type"] #>>>26976

district_passed_reading= dtype_count_r70 / dtype_totalcount_r70 #0.8090524911032029
district_passed_math= dtype_count_m70 / dtype_totalcount_r70 #0.6651838671411625
charter_passed_reading= ctype_count_r70 / ctype_totalcount_r70 #0.9664589142201082
charter_passed_math= ctype_count_m70 / ctype_totalcount_r70 #0.9370182056749221

In [193]:
#Need to see whether the avg scores reflect district types plus need to re-index by school types, not schools

district_summary_table = pd.DataFrame({
                                    "% Passing Math, Charter":charter_passed_math,
                                    "% Passing Reading, Charter":charter_passed_reading,
                                     "% Passing Math, District":district_passed_math,
                                     "% Passing Reading, District":district_passed_reading,
                                   "Overall Passing Rate":opr})
district_summary_table.head(15)

,"% Passing Math, Charter","% Passing Math, District","% Passing Reading, Charter","% Passing Reading, District",Overall Passing Rate
School_Name,,,,,
Bailey High School,0.937018,0.665184,0.966459,0.809052,0.743067
Cabrera High School,0.937018,0.665184,0.966459,0.809052,0.955867
Figueroa High School,0.937018,0.665184,0.966459,0.809052,0.733639
Ford High School,0.937018,0.665184,0.966459,0.809052,0.738043
Griffin High School,0.937018,0.665184,0.966459,0.809052,0.952657
Hernandez High School,0.937018,0.665184,0.966459,0.809052,0.738080
Holden High School,0.937018,0.665184,0.966459,0.809052,0.943794
Huang High School,0.937018,0.665184,0.966459,0.809052,0.735002
Johnson High School,0.937018,0.665184,0.966459,0.809052,0.736400
Pena High School,0.937018,0.665184,0.966459,0.809052,0.952703
Rodriguez High School,0.937018,0.665184,0.966459,0.809052,0.732933
Shelton High School,0.937018,0.665184,0.966459,0.809052,0.948609
Thomas High School,0.937018,0.665184,0.966459,0.809052,0.952905
Wilson High School,0.937018,0.665184,0.966459,0.809052,0.952037
Wright High School,0.937018,0.665184,0.966459,0.809052,0.949722

In [ ]:
#Output pdf
    #<Insert function here>